:root {
  --lightweight: rgba(255, 255, 255, 0.5);
  --gradient: linear-gradient(45deg,
  rgba(197, 180, 227, 0.7), 
  rgba(76, 76, 76, 0.8));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
}

body::before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: var(--gradient),
    url("../img/code_unsplash-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.header {
  padding: 2rem;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

h1, h2,
p {
  text-align: center;
  color: #fff;
}

em {
  font-size: 14px;
}

span {
  margin-top: 1rem;
  letter-spacing: 1em;
  font-weight: 900;
}

.description {
  font-size: 18px;
  font-weight: 400;
}

.banner-em {
  font-size: 18px;
}

form {
  background-color: #363B44BF;
  padding: 0 0 0.5rem 0.5rem;
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  width: 100%;
  padding: 2rem .5rem 0 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin: 1rem;
}

input {
  font-size: 16px;
  padding-left: 1rem;
}

::placeholder {
  color: var(--lightweight);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--lightweight);
}

::-ms-input-placeholder {
  color: var(--lightweight);
}


input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #61576B;
  border: 1px solid #61576B;
  border-radius: .5rem;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  height: 2.4rem;
}

.inline {
  width: unset;
  margin: 0;
  margin-right: .5rem;
  vertical-align: middle;
  font-size: medium;
}

/* Increase radio button size */
input[type='radio'] {
  width: 20px;
  height: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* title (label) only */
.recommend {
  margin-top: 0;
}

#dropdown {
  height: 3em;
  border: none;
  border-radius: .5rem;
  padding-left: .5rem;
  background-color: #61576B;
  border-right: 16px solid transparent;
  color: #fff;
}

#option {
  margin-top: 0;
  margin-bottom: 1rem;
  height: 3.4rem;
}

textarea {
  height: 7rem;
  padding: .2rem;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.improvements {
  font-size: 18px;
}

#improvements {
  font-size: medium;
  width: unset;
  margin: 0;
  margin-right: .5rem;
  vertical-align: middle;
}

#submit {
  display: block;
  margin: 1em auto;
  margin-top: 0;
  font-size: 1rem;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.footer {
  height: 3rem;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding-top: 1rem;
}